
*.opendb
GongTiGiGi.VC.db
Debug/Client.pdb
Debug/Client.ilk
Debug/Client.exe
Client/Debug/vc140.pdb
Client/Debug/vc140.idb
*.idb
*.pdb
*.ilk
*.db


db.lock
/ipch/CLIENT-cdb71b7f/CLIENT-e0364f8b.ipch
