
*.opendb
GongTiGiGi.VC.db
Debug/Client.pdb
Debug/Client.ilk
Debug/Client.exe
Client/Debug/vc140.pdb
Client/Debug/vc140.idb
*.idb
*.pdb
*.ilk
*.db


# Visual C++ cache files
ipch/
*.app
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# fuck u
*.opendb
*.opensdf
